:root {
  --destructive-100: rgba(254, 226, 226, 1);
  --destructive-200: rgba(254, 202, 202, 1);
  --destructive-300: rgba(252, 165, 165, 1);
  --destructive-400: rgba(248, 113, 113, 1);
  --destructive-50: rgba(254, 242, 242, 1);
  --destructive-600: rgba(220, 38, 38, 1);
  --destructive-700: rgba(185, 28, 28, 1);
  --destructive-800: rgba(153, 27, 27, 1);
  --destructive-900: rgba(127, 29, 29, 1);
  --destructive500-main: rgba(239, 68, 68, 1);
  --display-black-large-black-font-family: "Poppins-Black", Helvetica;
  --display-black-large-black-font-size: 64px;
  --display-black-large-black-font-style: normal;
  --display-black-large-black-font-weight: 900;
  --display-black-large-black-letter-spacing: 0px;
  --display-black-large-black-line-height: 129.99999523162842%;
  --display-black-medium-black-font-family: "Poppins-Black", Helvetica;
  --display-black-medium-black-font-size: 60px;
  --display-black-medium-black-font-style: normal;
  --display-black-medium-black-font-weight: 900;
  --display-black-medium-black-letter-spacing: 0px;
  --display-black-medium-black-line-height: 129.99999523162842%;
  --display-black-small-black-font-family: "Poppins-Black", Helvetica;
  --display-black-small-black-font-size: 56px;
  --display-black-small-black-font-style: normal;
  --display-black-small-black-font-weight: 900;
  --display-black-small-black-letter-spacing: 0px;
  --display-black-small-black-line-height: 129.99999523162842%;
  --display-bold-large-bold-font-family: "Poppins-Bold", Helvetica;
  --display-bold-large-bold-font-size: 64px;
  --display-bold-large-bold-font-style: normal;
  --display-bold-large-bold-font-weight: 700;
  --display-bold-large-bold-letter-spacing: 0px;
  --display-bold-large-bold-line-height: 129.99999523162842%;
  --display-bold-medium-bold-font-family: "Poppins-Bold", Helvetica;
  --display-bold-medium-bold-font-size: 60px;
  --display-bold-medium-bold-font-style: normal;
  --display-bold-medium-bold-font-weight: 700;
  --display-bold-medium-bold-letter-spacing: 0px;
  --display-bold-medium-bold-line-height: 129.99999523162842%;
  --display-bold-small-bold-font-family: "Poppins-Bold", Helvetica;
  --display-bold-small-bold-font-size: 56px;
  --display-bold-small-bold-font-style: normal;
  --display-bold-small-bold-font-weight: 700;
  --display-bold-small-bold-letter-spacing: 0px;
  --display-bold-small-bold-line-height: 129.99999523162842%;
  --display-extrabold-large-extrabold-font-family: "Poppins-ExtraBold", Helvetica;
  --display-extrabold-large-extrabold-font-size: 64px;
  --display-extrabold-large-extrabold-font-style: normal;
  --display-extrabold-large-extrabold-font-weight: 800;
  --display-extrabold-large-extrabold-letter-spacing: 0px;
  --display-extrabold-large-extrabold-line-height: 129.99999523162842%;
  --display-extrabold-medium-extrabold-font-family: "Poppins-ExtraBold", Helvetica;
  --display-extrabold-medium-extrabold-font-size: 60px;
  --display-extrabold-medium-extrabold-font-style: normal;
  --display-extrabold-medium-extrabold-font-weight: 800;
  --display-extrabold-medium-extrabold-letter-spacing: 0px;
  --display-extrabold-medium-extrabold-line-height: 129.99999523162842%;
  --display-extrabold-small-extrabold-font-family: "Poppins-ExtraBold", Helvetica;
  --display-extrabold-small-extrabold-font-size: 56px;
  --display-extrabold-small-extrabold-font-style: normal;
  --display-extrabold-small-extrabold-font-weight: 800;
  --display-extrabold-small-extrabold-letter-spacing: 0px;
  --display-extrabold-small-extrabold-line-height: 129.99999523162842%;
  --display-semibold-large-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --display-semibold-large-semibold-font-size: 64px;
  --display-semibold-large-semibold-font-style: normal;
  --display-semibold-large-semibold-font-weight: 600;
  --display-semibold-large-semibold-letter-spacing: 0px;
  --display-semibold-large-semibold-line-height: 129.99999523162842%;
  --display-semibold-medium-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --display-semibold-medium-semibold-font-size: 60px;
  --display-semibold-medium-semibold-font-style: normal;
  --display-semibold-medium-semibold-font-weight: 600;
  --display-semibold-medium-semibold-letter-spacing: 0px;
  --display-semibold-medium-semibold-line-height: 129.99999523162842%;
  --display-semibold-small-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --display-semibold-small-semibold-font-size: 56px;
  --display-semibold-small-semibold-font-style: normal;
  --display-semibold-small-semibold-font-weight: 600;
  --display-semibold-small-semibold-letter-spacing: 0px;
  --display-semibold-small-semibold-line-height: 129.99999523162842%;
  --genricosblack: rgba(0, 0, 0, 1);
  --genricosblack-2: rgba(25, 25, 25, 1);
  --genricoswhite: rgba(255, 255, 255, 1);
  --heading-h1-h1-bold-font-family: "Poppins-Bold", Helvetica;
  --heading-h1-h1-bold-font-size: 44px;
  --heading-h1-h1-bold-font-style: normal;
  --heading-h1-h1-bold-font-weight: 700;
  --heading-h1-h1-bold-letter-spacing: 0px;
  --heading-h1-h1-bold-line-height: 129.99999523162842%;
  --heading-h1-h1-extrabold-font-family: "Poppins-ExtraBold", Helvetica;
  --heading-h1-h1-extrabold-font-size: 44px;
  --heading-h1-h1-extrabold-font-style: normal;
  --heading-h1-h1-extrabold-font-weight: 800;
  --heading-h1-h1-extrabold-letter-spacing: 0px;
  --heading-h1-h1-extrabold-line-height: 129.99999523162842%;
  --heading-h1-h1-medium-font-family: "Poppins-Medium", Helvetica;
  --heading-h1-h1-medium-font-size: 44px;
  --heading-h1-h1-medium-font-style: normal;
  --heading-h1-h1-medium-font-weight: 500;
  --heading-h1-h1-medium-letter-spacing: 0px;
  --heading-h1-h1-medium-line-height: 129.99999523162842%;
  --heading-h1-h1-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --heading-h1-h1-semibold-font-size: 44px;
  --heading-h1-h1-semibold-font-style: normal;
  --heading-h1-h1-semibold-font-weight: 600;
  --heading-h1-h1-semibold-letter-spacing: 0px;
  --heading-h1-h1-semibold-line-height: 129.99999523162842%;
  --heading-h2-h2-bold-font-family: "Poppins-Bold", Helvetica;
  --heading-h2-h2-bold-font-size: 40px;
  --heading-h2-h2-bold-font-style: normal;
  --heading-h2-h2-bold-font-weight: 700;
  --heading-h2-h2-bold-letter-spacing: 0px;
  --heading-h2-h2-bold-line-height: 129.99999523162842%;
  --heading-h2-h2-extrabold-font-family: "Poppins-ExtraBold", Helvetica;
  --heading-h2-h2-extrabold-font-size: 40px;
  --heading-h2-h2-extrabold-font-style: normal;
  --heading-h2-h2-extrabold-font-weight: 800;
  --heading-h2-h2-extrabold-letter-spacing: 0px;
  --heading-h2-h2-extrabold-line-height: 129.99999523162842%;
  --heading-h2-h2-medium-font-family: "Poppins-Medium", Helvetica;
  --heading-h2-h2-medium-font-size: 40px;
  --heading-h2-h2-medium-font-style: normal;
  --heading-h2-h2-medium-font-weight: 500;
  --heading-h2-h2-medium-letter-spacing: 0px;
  --heading-h2-h2-medium-line-height: 129.99999523162842%;
  --heading-h2-h2-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --heading-h2-h2-semibold-font-size: 40px;
  --heading-h2-h2-semibold-font-style: normal;
  --heading-h2-h2-semibold-font-weight: 600;
  --heading-h2-h2-semibold-letter-spacing: 0px;
  --heading-h2-h2-semibold-line-height: 129.99999523162842%;
  --heading-h3-h3-bold-font-family: "Poppins-Bold", Helvetica;
  --heading-h3-h3-bold-font-size: 36px;
  --heading-h3-h3-bold-font-style: normal;
  --heading-h3-h3-bold-font-weight: 700;
  --heading-h3-h3-bold-letter-spacing: 0px;
  --heading-h3-h3-bold-line-height: 129.99999523162842%;
  --heading-h3-h3-extrabold-font-family: "Poppins-ExtraBold", Helvetica;
  --heading-h3-h3-extrabold-font-size: 36px;
  --heading-h3-h3-extrabold-font-style: normal;
  --heading-h3-h3-extrabold-font-weight: 800;
  --heading-h3-h3-extrabold-letter-spacing: 0px;
  --heading-h3-h3-extrabold-line-height: 129.99999523162842%;
  --heading-h3-h3-medium-font-family: "Poppins-Medium", Helvetica;
  --heading-h3-h3-medium-font-size: 36px;
  --heading-h3-h3-medium-font-style: normal;
  --heading-h3-h3-medium-font-weight: 500;
  --heading-h3-h3-medium-letter-spacing: 0px;
  --heading-h3-h3-medium-line-height: 129.99999523162842%;
  --heading-h3-h3-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --heading-h3-h3-semibold-font-size: 36px;
  --heading-h3-h3-semibold-font-style: normal;
  --heading-h3-h3-semibold-font-weight: 600;
  --heading-h3-h3-semibold-letter-spacing: 0px;
  --heading-h3-h3-semibold-line-height: 129.99999523162842%;
  --heading-h4-h4-bold-font-family: "Poppins-Bold", Helvetica;
  --heading-h4-h4-bold-font-size: 32px;
  --heading-h4-h4-bold-font-style: normal;
  --heading-h4-h4-bold-font-weight: 700;
  --heading-h4-h4-bold-letter-spacing: 0px;
  --heading-h4-h4-bold-line-height: 129.99999523162842%;
  --heading-h4-h4-extrabold-font-family: "Poppins-ExtraBold", Helvetica;
  --heading-h4-h4-extrabold-font-size: 32px;
  --heading-h4-h4-extrabold-font-style: normal;
  --heading-h4-h4-extrabold-font-weight: 800;
  --heading-h4-h4-extrabold-letter-spacing: 0px;
  --heading-h4-h4-extrabold-line-height: 129.99999523162842%;
  --heading-h4-h4-medium-font-family: "Poppins-Medium", Helvetica;
  --heading-h4-h4-medium-font-size: 32px;
  --heading-h4-h4-medium-font-style: normal;
  --heading-h4-h4-medium-font-weight: 500;
  --heading-h4-h4-medium-letter-spacing: 0px;
  --heading-h4-h4-medium-line-height: 129.99999523162842%;
  --heading-h4-h4-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --heading-h4-h4-semibold-font-size: 32px;
  --heading-h4-h4-semibold-font-style: normal;
  --heading-h4-h4-semibold-font-weight: 600;
  --heading-h4-h4-semibold-letter-spacing: 0px;
  --heading-h4-h4-semibold-line-height: 129.99999523162842%;
  --heading-h5-h5-bold-font-family: "Poppins-Bold", Helvetica;
  --heading-h5-h5-bold-font-size: 28px;
  --heading-h5-h5-bold-font-style: normal;
  --heading-h5-h5-bold-font-weight: 700;
  --heading-h5-h5-bold-letter-spacing: 0px;
  --heading-h5-h5-bold-line-height: 129.99999523162842%;
  --heading-h5-h5-extrabold-font-family: "Poppins-ExtraBold", Helvetica;
  --heading-h5-h5-extrabold-font-size: 28px;
  --heading-h5-h5-extrabold-font-style: normal;
  --heading-h5-h5-extrabold-font-weight: 800;
  --heading-h5-h5-extrabold-letter-spacing: 0px;
  --heading-h5-h5-extrabold-line-height: 129.99999523162842%;
  --heading-h5-h5-medium-font-family: "Poppins-Medium", Helvetica;
  --heading-h5-h5-medium-font-size: 28px;
  --heading-h5-h5-medium-font-style: normal;
  --heading-h5-h5-medium-font-weight: 500;
  --heading-h5-h5-medium-letter-spacing: 0px;
  --heading-h5-h5-medium-line-height: 129.99999523162842%;
  --heading-h5-h5-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --heading-h5-h5-semibold-font-size: 28px;
  --heading-h5-h5-semibold-font-style: normal;
  --heading-h5-h5-semibold-font-weight: 600;
  --heading-h5-h5-semibold-letter-spacing: 0px;
  --heading-h5-h5-semibold-line-height: 129.99999523162842%;
  --heading-h6-h6-bold-font-family: "Poppins-Bold", Helvetica;
  --heading-h6-h6-bold-font-size: 24px;
  --heading-h6-h6-bold-font-style: normal;
  --heading-h6-h6-bold-font-weight: 700;
  --heading-h6-h6-bold-letter-spacing: 0px;
  --heading-h6-h6-bold-line-height: 129.99999523162842%;
  --heading-h6-h6-extrabold-font-family: "Poppins-ExtraBold", Helvetica;
  --heading-h6-h6-extrabold-font-size: 24px;
  --heading-h6-h6-extrabold-font-style: normal;
  --heading-h6-h6-extrabold-font-weight: 800;
  --heading-h6-h6-extrabold-letter-spacing: 0px;
  --heading-h6-h6-extrabold-line-height: 129.99999523162842%;
  --heading-h6-h6-medium-font-family: "Poppins-Medium", Helvetica;
  --heading-h6-h6-medium-font-size: 24px;
  --heading-h6-h6-medium-font-style: normal;
  --heading-h6-h6-medium-font-weight: 500;
  --heading-h6-h6-medium-letter-spacing: 0px;
  --heading-h6-h6-medium-line-height: 129.99999523162842%;
  --heading-h6-h6-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --heading-h6-h6-semibold-font-size: 24px;
  --heading-h6-h6-semibold-font-style: normal;
  --heading-h6-h6-semibold-font-weight: 600;
  --heading-h6-h6-semibold-letter-spacing: 0px;
  --heading-h6-h6-semibold-line-height: 129.99999523162842%;
  --neutral-100: rgba(228, 228, 228, 1);
  --neutral-200: rgba(200, 200, 200, 1);
  --neutral-300: rgba(173, 173, 173, 1);
  --neutral-400: rgba(146, 146, 146, 1);
  --neutral-50: rgba(241, 241, 241, 1);
  --neutral-500: rgba(99, 99, 99, 1);
  --neutral-600: rgba(81, 81, 81, 1);
  --neutral-700: rgba(54, 54, 54, 1);
  --neutral-800: rgba(31, 31, 31, 1);
  --neutral900-main: rgba(23, 23, 23, 1);
  --paragraph-large-medium-font-family: "Poppins-Medium", Helvetica;
  --paragraph-large-medium-font-size: 18px;
  --paragraph-large-medium-font-style: normal;
  --paragraph-large-medium-font-weight: 500;
  --paragraph-large-medium-letter-spacing: 0px;
  --paragraph-large-medium-line-height: 129.99999523162842%;
  --paragraph-large-regular-font-family: "Poppins-Regular", Helvetica;
  --paragraph-large-regular-font-size: 18px;
  --paragraph-large-regular-font-style: normal;
  --paragraph-large-regular-font-weight: 400;
  --paragraph-large-regular-letter-spacing: 0px;
  --paragraph-large-regular-line-height: 129.99999523162842%;
  --paragraph-large-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --paragraph-large-semibold-font-size: 18px;
  --paragraph-large-semibold-font-style: normal;
  --paragraph-large-semibold-font-weight: 600;
  --paragraph-large-semibold-letter-spacing: 0px;
  --paragraph-large-semibold-line-height: 129.99999523162842%;
  --paragraph-medium-medium-font-family: "Poppins-Medium", Helvetica;
  --paragraph-medium-medium-font-size: 16px;
  --paragraph-medium-medium-font-style: normal;
  --paragraph-medium-medium-font-weight: 500;
  --paragraph-medium-medium-letter-spacing: 0px;
  --paragraph-medium-medium-line-height: 129.99999523162842%;
  --paragraph-medium-regular-font-family: "Poppins-Regular", Helvetica;
  --paragraph-medium-regular-font-size: 16px;
  --paragraph-medium-regular-font-style: normal;
  --paragraph-medium-regular-font-weight: 400;
  --paragraph-medium-regular-letter-spacing: 0px;
  --paragraph-medium-regular-line-height: 129.99999523162842%;
  --paragraph-medium-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --paragraph-medium-semibold-font-size: 16px;
  --paragraph-medium-semibold-font-style: normal;
  --paragraph-medium-semibold-font-weight: 600;
  --paragraph-medium-semibold-letter-spacing: 0px;
  --paragraph-medium-semibold-line-height: 129.99999523162842%;
  --paragraph-overline-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --paragraph-overline-semibold-font-size: 12px;
  --paragraph-overline-semibold-font-style: normal;
  --paragraph-overline-semibold-font-weight: 600;
  --paragraph-overline-semibold-letter-spacing: 0px;
  --paragraph-overline-semibold-line-height: 129.99999523162842%;
  --paragraph-small-medium-font-family: "Poppins-Medium", Helvetica;
  --paragraph-small-medium-font-size: 14px;
  --paragraph-small-medium-font-style: normal;
  --paragraph-small-medium-font-weight: 500;
  --paragraph-small-medium-letter-spacing: 0px;
  --paragraph-small-medium-line-height: 129.99999523162842%;
  --paragraph-small-regular-font-family: "Poppins-Regular", Helvetica;
  --paragraph-small-regular-font-size: 14px;
  --paragraph-small-regular-font-style: normal;
  --paragraph-small-regular-font-weight: 400;
  --paragraph-small-regular-letter-spacing: 0px;
  --paragraph-small-regular-line-height: 129.99999523162842%;
  --paragraph-small-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --paragraph-small-semibold-font-size: 14px;
  --paragraph-small-semibold-font-style: normal;
  --paragraph-small-semibold-font-weight: 600;
  --paragraph-small-semibold-letter-spacing: 0px;
  --paragraph-small-semibold-line-height: 129.99999523162842%;
  --primary-100: rgba(201, 255, 218, 1);
  --primary-200: rgba(175, 255, 200, 1);
  --primary-300: rgba(138, 255, 175, 1);
  --primary-400: rgba(116, 255, 160, 1);
  --primary-50: rgba(238, 255, 243, 1);
  --primary-600: rgba(74, 232, 124, 1);
  --primary-700: rgba(58, 181, 97, 1);
  --primary-800: rgba(45, 140, 75, 1);
  --primary-900: rgba(34, 107, 57, 1);
  --primary500-main: rgba(81, 255, 136, 1);
  --warning-100: rgba(254, 243, 199, 1);
  --warning-200: rgba(253, 230, 138, 1);
  --warning-300: rgba(252, 211, 77, 1);
  --warning-400: rgba(251, 191, 36, 1);
  --warning-50: rgba(255, 251, 235, 1);
  --warning-600: rgba(217, 119, 6, 1);
  --warning-700: rgba(180, 83, 9, 1);
  --warning-800: rgba(146, 64, 14, 1);
  --warning-900: rgba(120, 53, 15, 1);
  --warning500-main: rgba(245, 158, 11, 1);
}
